<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/ATB5x/APIAutomationRestAssure5x">
        <classes>
            <class name="org.example.Testcases.CRUD.GET.TestNGNonBDDStyle">
                <methods>
                    <include name="testGetAllBookingsNegative"/>
                    <include name="testGetAllBookingsNegative2"/>
                    <include name="testGetAllBookingsPositive"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>